.graphcontainer {
    width: 80%;
    margin: auto;
}

.userinput {
    max-width: 80%;
    margin: auto;
}

table {
    border: 2px black solid;
    font: 12px sans-serif;
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

td {
    border: 1px black solid;
    padding: 5px;
}

.download {
    margin: auto;
    padding: 20px;
}